<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.vouching.mapper.SentenceCategoryMapper" >

	<!-- 查找所有函电类型 -->
	<select id="findAllCategories" resultType="SentenceCategory">
		select 
		scid,fatherid,name,flag
		from sentencecategory
	</select>
	
</mapper>