<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.vouching.mapper.UserPaperMapper" >

	<!-- 查询用户已经参加过的考试信息 -->
	<resultMap type="UserPaper" id="findUserpaperByExamIdAndStatus">
		<id column="userpaperid" property="userPaperId"/>
		<result column="answerdate" property="answerDate"/>
		<association property="exam" column="examid" javaType="Exam">
			<id column="examid" property="examId"/>
			<result column="name" property="name"/>
		</association>
		<association property="user" column="userid" javaType="User">
			<id column="userid" property="userId"/>
			<result column="username" property="name"/>
			<association property="clas" column="classid" javaType="Class">
				<id column="classid" property="classId"/>
				<result column="classname" property="className"/>
			</association>
		</association>
	</resultMap>

	<resultMap type="UserPaper" id="findUserpaperByUserIdAndStatus">
		<id column="userpaperid" property="userPaperId"/>
		<result column="answerdate" property="answerDate"/>
		<result column="score" property="score"/>
		<association property="exam" column="examid" javaType="Exam">
			<id column="examid" property="examId"/>
			<result column="name" property="name"/>
		</association>
	</resultMap>
	
	<!-- 查询用户已经参加过的考试信息 -->
	<resultMap type="UserPaper" id="ExamAndPaper">
		<id column="userpaperid" property="userPaperId"/>
		<result column="status" property="status"/>
		<association property="exam" column="examid" javaType="Exam">
			<id column="examid" property="examId"/>
			<result column="name" property="name"/>
			<result column="bak" property="bak"/>
			<result column="createdate" property="createDate"/>
		</association>
	</resultMap>
		
	<!-- 通过用户ID查询试卷ID -->
	<select id="findExamIdByUserId" parameterType="int" resultType="int">
		select examid
		from userpaper
		where userid = #{0}
	</select>	
	
	<!-- 保存用户试卷 -->
	<insert id="saveUserPaper" parameterType="UserPaper"> 
		insert into 
		userpaper(answerdate,radios,blanks,phrases,translates,clozes,examid,score,userid,status)
		values(#{answerDate},#{radios},#{blanks},#{phrases},#{translates},
				#{clozes},#{examId},#{score},#{userId},#{status})
	</insert>
	
	<!-- 通过用户ID查询试卷 -->
	<select id="findUserpaperByUserIdAndStatus" parameterType="java.util.Map" resultMap="findUserpaperByUserIdAndStatus">
		select
		p.examid,p.answerdate,p.score,e.name
		from userpaper p,exam e
		where p.userid = #{userId} and status = #{status} and p.examid = e.examid
	</select>
	
	<!-- 查询用户已经参加过的考试信息 -->
	<select id="findJoinedExam" parameterType="java.util.Map" resultMap="ExamAndPaper">
		select
		e.examid,e.name,e.createdate,e.bak,u.status
		from exam e, userpaper u
		where u.userid = #{userId} and e.examid = u.examid and e.classid = #{classId} and e.isactive = 1 
	</select>
	
	<!-- 通过试卷ID和试卷处理状态查询试卷信息 -->
	<select id="findUserpaperByExamIdAndStatus" parameterType="java.util.Map" resultMap="findUserpaperByExamIdAndStatus">
		select
		p.userpaperid,p.answerdate,e.name,u.name username,c.classname
		from userpaper p,exam e,user u,class c
		where status = #{status} and 
			  p.examid = e.examid and 
			  p.userid = u.userid and
			  u.classid = c.classid and
			  p.examid in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
</mapper>